{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <img src="https://www.siteshakeup.com/siteshakeup-shake.svg" alt="Site Shakeup Logo" class="w10">
    <p>{{.Site.Params.description}}</p>
  </div>
  <div id="action-buttons">
    <a class="button primary big" href="/contact-us/">Contact Us</a>  
    <p>Your website should work hard for your business.</p>
  </div>
  <div id="mission">
    <div class="row gutters">
      <div class="col col-3 item">
        <h2>Our Mission</h2>
        <p>
          SiteShakeup was started to make web redesign more approachable for local businesses.
          <br/>
          We believe websites are the ultimate form of advertising and, with the world becoming increasingly connected, it only makes sense for your site to be plugged into the larger community. Local businesses are an integral part of a beautiful ecosystem and we want to ensure you’re serving all the customers you can.
        </p>
      </div>
    </div>
  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <i class="fas fa-pen-square fa-3x"></i>
        </figure>
        <h3>How We Do It (How)</h3>
        <p>We start with a quick talkdown of your business’s website. We want to know how you feel about it and what you are looking to gain from a revamping service. We’ll jot down some notes and begin drafting a proposal.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Typography" height="48" src="{{ "/img/kube/icon-typo.png" | relURL }}" width="48">
        </figure>
        <h3>Typography</h3>
        <p>We obsess over typography, and it shows throughout Kube.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Minimalism" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">
        </figure>
        <h3>Minimalism</h3>
        <p>We strongly believe in minimalism as a general concept as well as a practical approach to everyday life.</p>
      </div>
    </div>
    <div class="row gutters">
      <div class="col col-4 item">
        <h4>Mobile-first Design</h4>
        <p>Every element in kube is mobile-first and fully embraces latest and greatest tech.</p>
      </div>
      <div class="col col-4 item">
        <h4>Cross-browser</h4>
        <p>Kube works in all modern browsers, both desktop and mobile, including latest Chrome, Firefox, Safari, Opera, IE and Edge.</p>
      </div>
      <div class="col col-4 item">
        <h4>License</h4>
        <p>Kube licensed under <a href="https://opensource.org/licenses/MIT">MIT</a>.<br>
      Kube Framework is absolutely free for personal or commercial use.</p>
    </div>
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
