.hero {
  background-image: url("https://images.unsplash.com/photo-1534840473734-95c07368722d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cd84d11958b14da65b4c09fb9c581932&auto=format&fit=crop&w=2836&q=80");
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
}

.hero-text {
  text-align: center;
  align-self: center;
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
}

.hero > button {
}
