div#first-section {
    height: 86vh;
    width: 100vw;
	background: white;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

div#mission {
    height: 50vh;
    width: 100vw;
	background: #eeeeee;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

div#how {
    height: 50vh;
    width: 100vw;
	background: white;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

div#offerings {
    height: 50vh;
    width: 100vw;
	background: #eeeeee;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

div#get-in-touch {
    height: 50vh;
    width: 100vw;
	background: white;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

h2 {
    text-align: center
}